<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./partials/head %>
</head>
<body>

<header>
</header>
<main class="main">
  <div class="modal fade" id="modalLoginForm1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header text-center">
          <h4 class="modal-title w-100 font-weight-bold">Sign in</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body mx-3">
            <form id='loginForm1' class="needs-validation" novalidate>
              <div class="mb-4 md-form">
                <i class="fa fa-envelope prefix grey-text"></i>
                <label for="loginEmail1">Your email</label>
                <input type="email" class="form-control" id="loginEmail1" required>
                <div class='ml-5 valid-feedback'>
                  awesome
                </div>
                <div class="ml-5 invalid-feedback">
                  Please provide a valid email.
                </div>
              </div>
              <div class="mb-5 md-form">
                <i class="fa fa-lock prefix grey-text"></i>
                <label for="loginPassword1">State</label>
                <input type="password" class="form-control" id="loginPassword1" required>
                <div class='ml-5 valid-feedback'>
                  awesome
                </div>
                <div class="ml-5 invalid-feedback">
                  Please provide password.
                </div>
              </div>
              <input id='_csrf1' type="hidden" name='_csrf' value='<%=_csrf%>'/>
              <div class="modal-footer d-flex justify-content-center">
                <button id='loginButton'class="btn btn-default">Login</button>
              </div>
            </form>
        </div>

      </div>
    </div>
  </div>
  
  <div class="text-center">
    <a href="" class="btn btn-default btn-rounded mb-4" data-toggle="modal" data-target="#modalLoginForm1">Launch
      Modal Login Form</a>
  </div>

  <!-- Classic tabs -->
<div class="classic-tabs">

  <ul class="nav tabs-cyan" id="myClassicTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link  waves-light active show" id="profile-tab-classic" data-toggle="tab" href="#profile-classic" role="tab" aria-controls="profile-classic" aria-selected="true">Profile</a>
    </li>
    <li class="nav-item">
      <a class="nav-link waves-light" id="follow-tab-classic" data-toggle="tab" href="#follow-classic" role="tab" aria-controls="follow-classic" aria-selected="false">Follow</a>
    </li>
    <li class="nav-item">
      <a class="nav-link waves-light" id="contact-tab-classic" data-toggle="tab" href="#contact-classic" role="tab" aria-controls="contact-classic" aria-selected="false">Contact</a>
    </li>
    <li class="nav-item">
      <a class="nav-link waves-light" id="awesome-tab-classic" data-toggle="tab" href="#awesome-classic" role="tab" aria-controls="awesome-classic" aria-selected="false">Be awesome</a>
    </li>
  </ul>
  <div class="tab-content border-right border-bottom border-left rounded-bottom" id="myClassicTabContent">
    <div class="tab-pane fade active show" id="profile-classic" role="tabpanel" aria-labelledby="profile-tab-classic">
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
    </div>
    <div class="tab-pane fade" id="follow-classic" role="tabpanel" aria-labelledby="follow-tab-classic">
      <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
    </div>
    <div class="tab-pane fade" id="contact-classic" role="tabpanel" aria-labelledby="contact-tab-classic">
      <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. </p>
    </div>
    <div class="tab-pane fade" id="awesome-classic" role="tabpanel" aria-labelledby="awesome-tab-classic">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
  </div>

</div>
<!-- Classic tabs -->
</main>

<footer>
  <% include ./partials/footer %>
</footer>
<% include ./partials/scripts %>
<script>
  // Example starter JavaScript for disabling form submissions if there are invalid fields
checkValidate = false;
function validateForm() {
  $('#loginButton').click((event)=> {
    let check = true;
    var forms = document.getElementsByClassName('needs-validation');
    for (let i = 0; i < forms.length; i++) {
      if (forms[i].checkValidity() === false) {
        check = false;
        break;
      }
    }
    if (!check) {
      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      // Loop over them and prevent submission
      var validation = Array.prototype.filter.call(forms, function(form) {
        form.addEventListener('submit', function(event) {
          if (form.checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
            check = false;
          }
          form.classList.add('was-validated');
        }, false);
      });
    }
    checkValidate = check;
    console.log(checkValidate);
  })

};
validateForm();

  $(document).ready(function(){
    $('#loginForm1').submit(function(event){
      event.preventDefault();
      validateForm();
      if (checkValidate) {
        ajaxPost();
      }
    })
  })

  function ajaxPost() {
    //prepare formData
    const formData = {
      _csrf: $('#_csrf1').val(),
      email: $('#loginEmail1').val(),
      password: $('#loginPassword1').val()
    }
    console.log(formData);
    // do post
    $.ajax({
      type: 'POST',
      contentType : "application/json",
      url : "/test/api/login",
      data : JSON.stringify(formData),
      dataType: 'json',
      success: function(data) {
        console.log('success', data);
        $('#modalLoginForm1').modal('toggle'); 
        toastr.options = {
          "closeButton": true,
          "debug": false,
          "newestOnTop": true,
          "progressBar": false,
          "positionClass": "toast-bottom-left",
          "preventDuplicates": true,
          "onclick": null,
          "showDuration": "300",
          "hideDuration": "1000",
          "timeOut": "2000",
          "extendedTimeOut": "1000",
          "showEasing": "swing",
          "hideEasing": "linear",
          "showMethod": "fadeIn",
          "hideMethod": "fadeOut"
        }       
        if (data.hasError) {
          toastr.error(data.message, 'Error');
        } else {
          toastr.options.onHidden = function() { 
            location.reload();
          }
          toastr.success(data.message, "login success");
        }
      },
      error: function(jqXHR, textStatus, errorThrown) {
        alert('error', textStatus);
        console.log(err);
      }
      // reset form data
    })
    resetData();
  }
  function resetData() {
    $('#loginEmail1').val('');
    $('#loginPassword1').val('');
  }
</script>
</body>
</html>