<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./partials/head %>
</head>
<body>

<header>
  <% include ./partials/header %>
</header>
<main class="main">
  <!--add your code here-->
  <div class="modal fade" id="modalRegisterForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Create an Account</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="POST" id='signup-form' novalidate>
        <div class="modal-body mx-3">
          <div class="md-form mb-5">
            <i class="fa fa-user prefix grey-text"></i>
            <input type="text" id="signup-username" class="form-control">
            <label data-error="" data-success="" for="signup-username">Your username</label>
            <div class="valid-feedback ml-5">
              Looks good!
            </div>
            <div class="invalid-feedback ml-5">
              Please provide your username
            </div>
          </div>
          <div class="md-form mb-5">
            <i class="fa fa-envelope prefix grey-text"></i>
            <input type="email" id="signup-email" class="form-control">
            <label data-error="" data-success="" for="signup-email">Your email</label>
            <div class="valid-feedback ml-5">
              Looks good!
            </div>
            <div class="invalid-feedback ml-5">
              Wrong email!
            </div>
          </div>
  
          <div class="md-form mb-5">
            <i class="fa fa-lock prefix grey-text"></i>
            <input type="password" id="signup-password" class="form-control">
            <label data-error="" data-success="" for="signup-password">Your password</label>
            <div class="valid-feedback ml-5">
              Strong password
            </div>
            <div class="invalid-feedback ml-5">
              Password must be at least 8 characters
            </div>
          </div>
  
          <div class="md-form mb-4">
            <i class="fa fa-unlock-alt prefix grey-text"></i>
            <input type="password"name id="confirm-password" class="form-control">
            <label data-error='' data-success=""id='label-confirm' for="confirm-password">Confirm your password</label>
            <div class="valid-feedback ml-5">
              Match password
            </div>
            <div class="invalid-feedback ml-5">
              Password don't match
            </div>
          </div>
  
        </div>
        <input type='hidden' id='_csrf1' name='_csrf' value="<%=_csrf%>"/>
        <div class="modal-footer d-flex justify-content-center">
          <button type='submit' id='signup-button' class="btn btn-deep-orange">Sign up</button>
        </div>
      </form>     

    </div>
  </div>
</div>

<div class="text-center">
  <a href="" class="btn btn-default btn-rounded mb-4" data-toggle="modal" data-target="#modalRegisterForm">Launch
    Modal Register Form</a>
</div>

</main>

<footer>
  <% include ./partials/footer %>
</footer>
<% include ./partials/scripts %>
<script>
  let validate = false;
  let username = $('#signup-username'),
      email = $('#signup-email'),
      password = $('#signup-password');
      confirmPassword = $('#confirm-password');
  let validClass = 'is-valid valid',
      invalidClass = 'is-invalid invalid';
  $(document).ready(function(){
    validateForm();

    $('#signup-form').submit(function(event){
      event.preventDefault();
      if (validate) {
        postSignupAjax();
      }
    })  

    function postSignupAjax() {
      //prepare formData
      const formData = {
        _csrf: $('#_csrf').val(),
        username: username.val(),
        email: email.val(),
        password: password.val()
      }
      // do post
      $.ajax({
        type: 'POST',
        contentType : "application/json",
        url : "/test/api/signup",
        data : JSON.stringify(formData),
        dataType: 'json',
        success: function(data) {
          console.log('success', data);
          $('#modalRegisterForm').modal('toggle');    
          if (data.hasError) {
            toastr.error(data.message, 'Error');
          } else {
            toastr.options.onHidden = function() { 
              location.reload();
            }
            toastr.success(data.message, "login success");
          }
        },
        error: function(jqXHR, textStatus, errorThrown) {
          alert('error', textStatus);
          console.log(err);
        }
        // reset form data
      })
        resetData();
      }
      function resetData() {
        username.val('');
        email.val('');
        password.val('');
        confirmPassword.val('');
        username.removeClass(`${validClass} ${invalidClass}`);
        email.removeClass(`${validClass} ${invalidClass}`);
        password.removeClass(`${validClass} ${invalidClass}`);
        confirmPassword.removeClass(`${validClass} ${invalidClass}`);
      }

  })

  function validateForm() {
    let emailReg = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;

    $('#signup-button').click((event)=> {
      validate = true;
      if (username.val()==='') {
        validate = false;
        username.addClass(invalidClass).removeClass(validClass);
      }

      if (email.val()==='' || !emailReg.test(email.val())) {
        validate = false;
        email.addClass(invalidClass).removeClass(validClass);
      }

      if (password.val().length<8) {
        validate = false;
        password.addClass(invalidClass).removeClass(validClass);
      }

      if (confirmPassword.val()!==password.val()) {
        validate = false;
        confirmPassword.addClass(invalidClass).removeClass(validClass);
      }
      console.log(validate)
    })

    // validate username
    username.on('input', (e)=> {
      if (username.val()==='') {
        username.addClass(invalidClass).removeClass(validClass);
      } else {
        username.addClass(validClass).removeClass(invalidClass);
      }
    })

    // validate email 
    email.on('input', (e)=> {
       // validate email
      if (email.val() ==='' || !emailReg.test(email.val())) {
        email.addClass(invalidClass).removeClass(validClass);
      } else {
        email.addClass(validClass).removeClass(invalidClass);
      }
    })

    // validate password
    password.on('input', (e)=> {
      if (password.val().length<8) {
        password.addClass(invalidClass).removeClass(validClass);
      } else {
        password.addClass(validClass).removeClass(invalidClass);
      }
    })

    // confirm password
    confirmPassword.on("input", function(e) {
      if (confirmPassword.val()!==password.val()) {
        $(this).addClass(invalidClass).removeClass(validClass)
      } else {
        $(this).addClass(validClass).removeClass(invalidClass)
      }
    });
  }
  
      

</script>
</body>
</html>
