  <!-- views/partials/footer.ejs -->


<div class='footer'>
  <div class="row mb-5">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <h4 class='footer-header'>Healthyfarm.com</h4>
      <ul class='footer-list'>
        <li class="nav-item">
          <a class="footer-link" href="#">About us</a>
        </li>
        <li class="nav-item">
          <a class="footer-link" href="#">Contact us</a>
        </li>
      </ul>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <h4 class='footer-header'>custom service</h4>
      <ul class='footer-list'>
        <li class="nav-item">
          <a class="footer-link" href="#">Regulation</a>
        </li>
        <li class="nav-item">
          <a class="footer-link" href="#">Privacy Policy</a>
        </li> 
        <li class="nav-item">
          <a class="footer-link" href="#">Dispute Settlement</a>
        </li>    

        <li class="nav-item">
          <a class="footer-link" href="#">Terms & Conditions</a>
        </li>             
      </ul>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <h4 class='footer-header'>custom service</h4>
      <ul class='footer-list'>
        <li class="nav-item">
          <a class="footer-link" href="#">Regulation</a>
        </li>
        <li class="nav-item">
          <a class="footer-link" href="#">Privacy Policy</a>
        </li> 
        <li class="nav-item">
          <a class="footer-link" href="#">Dispute Settlement</a>
        </li>    

        <li class="nav-item">
          <a class="footer-link" href="#">Terms & Conditions</a>
        </li>             
      </ul>
    </div>
    
  </div>
  <p>© Copyright 2018 The Awesome</p>
</div>