 <nav class="navbar my-navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <a class="navbar-brand" href="/">
    <img class='logo'src="https://healthyfarm.org/wp-content/uploads/2018/02/healthyfarm-logo-horizontal-web.svg" alt="Healthy Farm" title="Healthy Farm">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item mr-1">
        <a class="nav-link <%= currentPage==='products' ? 'my-nav-link my-active-nav-link' : 'my-nav-link' %>" href="/products">Shop</a>
      </li>
      <li class="nav-item mr-1">
        <a class="my-nav-link nav-link" href="#">How it work</a>
      </li>
      <li class="nav-item mr-1">
        <a class="my-nav-link nav-link" href="#">Event</a>
      </li>
      <li class="nav-item mr-1">
        <a class="my-nav-link nav-link" href="#">Vendor</a>
      </li>
      <li class="nav-item">
        <a class="my-nav-link nav-link" href="#">Blog</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0 ml-5 mr-3" style="flex: 1">
      <input class="form-control rounded-0"style="flex: 1; box-shadow: none" type="search" placeholder="Search products" aria-label="Search">
      <button type="submit" class="btn btn-primary px-3 ml-0" style='padding: 9px 0px'><i class="fa fa-search" aria-hidden="true"></i></button>
    </form>
    

    <ul class="navbar-nav ml-auto">
      <li class="nav-item mr-2">
        <a class="nav-link my-nav-link" href="/shopping-cart">
          <i class="fa fa-shopping-cart"></i>
          Cart
          <span class="badge badge-success" id='shopping-cart'><% if (session.cart) {%><%=session.cart.totalQuantity||null%><%}%></span>
        </a>
      </li>
      <% if (user) { %>
        <li class="nav-item dropdown">
          <a class="my-nav-link nav-link dropdown-toggle waves-effect waves-light" id="navbarDropdownMenuLink-4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <i class="fa fa-user"></i> Profile </a>
          <div class="dropdown-menu dropdown-menu-right dropdown-info" aria-labelledby="navbarDropdownMenuLink-4">
            <a class="dropdown-item waves-effect waves-light" href="/user/profile">My account</a>
            <a class="dropdown-item waves-effect waves-light" href="/user/log-out">Log out</a>
          </div>
        </li>
      <% }  else { %>
      <li class="nav-item mr-2">
        <a class="nav-link my-nav-link"href=""  data-toggle="modal" data-target="#modalLoginForm">
          Log in
        </a>
      </li> 
      <li class="nav-item">
        <a class='nav-link my-nav-link'href="" data-toggle="modal" data-target="#modalRegisterForm">
          Sign up
        </a>
      </li>
      <% } %> 
    </ul>

  </div>
</nav>
<!--modal from login-->
<div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-notify modal-success" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title white-text w-100 font-weight-bold py-2">Log in</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>       
      
      <form id='loginForm' action='/api/log-in' method="POST">
        <div class="modal-body mx-3">
          <div class="md-form form-sm mb-5">
            <i class="fa fa-envelope prefix grey-text"></i>
            <input type="email" id="login-email" class="form-control">
            <label class='label-input' data-error="" data-success="" for="login-email">Your email</label>
            <div class="valid-feedback message">
              Looks good!
            </div>
            <div class="invalid-feedback message">
              Wrong email!
            </div>
          </div>

          <div class="md-form form-sm mb-4">
            <i class="fa fa-lock prefix grey-text"></i>
            <input type="password" id="login-password" class="form-control">
            <label  class='label-input'data-error="" data-success="" for="login-password">Your password</label>
            <div class="valid-feedback message">
              Valid password
            </div>
            <div class="invalid-feedback message">
              Password must be at least 8 characters
            </div>
          </div>

        </div>
        <input type='hidden' id='_csrf' name='_csrf' value="<%=_csrf%>"/>
        <div class="d-flex justify-content-center mb-2">
          <button type='submit'class="btn btn-success" id='login-button'>Login</button>
        </div>
      </form>
      <div class="modal-footer d-flex justify-content-center">
        <p>Not a member? <a href="" id='signup-link' class="blue-text">Sign Up</a></p>
      </div>
    </div>
  </div>
</div>
<!--end modal from login-->

<!--modal form sign up-->
<div class="modal fade" id="modalRegisterForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-notify modal-warning pt-0" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title white-text w-100 font-weight-bold py-2">Create an account</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>
      <form method="POST" id='signup-form' novalidate>
        <div class="modal-body mx-3">
          <div class="md-form form-sm mb-5">
            <i class="fa fa-user prefix grey-text"></i>
            <input type="text" id="signup-username" class="form-control">
            <label class='label-input' data-error="" data-success="" for="signup-username">Your username</label>
            <div class="valid-feedback message">
              Looks good!
            </div>
            <div class="invalid-feedback message">
              Please provide your username
            </div>
          </div>
          <div class="md-form form-sm mb-5">
            <i class="fa fa-envelope prefix grey-text"></i>
            <input type="email" id="signup-email" class="form-control">
            <label class='label-input' data-error="" data-success="" for="signup-email">Your email</label>
            <div class="valid-feedback message">
              Looks good!
            </div>
            <div class="invalid-feedback message">
              Wrong email!
            </div>
          </div>
  
          <div class="md-form form-sm mb-5">
            <i class="fa fa-lock prefix grey-text"></i>
            <input type="password" id="signup-password" class="form-control">
            <label class='label-input' data-error="" data-success="" for="signup-password">Your password</label>
            <div class="valid-feedback message">
              Strong password
            </div>
            <div class="invalid-feedback message">
              Password must be at least 8 characters
            </div>
          </div>
  
          <div class="md-form form-sm mb-3">
            <i class="fa fa-unlock-alt prefix grey-text"></i>
            <input type="password"name id="confirm-password" class="form-control">
            <label class='label-input' data-error='' data-success=""id='label-confirm' for="confirm-password">Confirm your password</label>
            <div class="valid-feedback message">
              Match password
            </div>
            <div class="invalid-feedback message">
              Password don't match
            </div>
          </div>
  
        </div>
        <input type='hidden' id='_csrf1' name='_csrf' value="<%=_csrf%>"/>
        <div class=" d-flex justify-content-center mb-2">
          <button type='submit' id='signup-button' class="btn btn-warning">Sign up</button>
        </div>
        <div class="modal-footer d-flex justify-content-center">
          <div class="options text-right">
            <p class="pt-1">Already have an account? <a href="" id='login-link' class="blue-text">Log In</a></p>
          </div>
        </div>
      </form>     

    </div>
  </div>
</div>
<!--end modal form sign up-->
