<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>
<body>

<header>
  <% include ../partials/header %>
</header>
<main class="main">
  <div class='container mb-5' style='margin-top: 100px'>
    <div class='row'>
      <div class='col-12'>
        <div class="card text-center">
          <div class="card-header font-weight-bold text-uppercase">
            Thank you for your order
          </div>
          <div class="card-body">
            <i class="fa fa-check fa-5x green-text"></i>
            <h5 class="card-title">Your order is complete</h5>
            <div class='d-flex justify-content-center'>
              <a href="/products" class="btn btn-dark-green btn-rounded"><i class="fa fa-angle-left pr-2"></i>Continue Shopping</a>
              <a href='/orders/<%=orderId%>' class='btn btn-primary btn-rounded'>View detail<i class="fa fa-angle-right pl-2"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<footer>
  <% include ../partials/footer %>
</footer>
<% include ../partials/scripts %>

</body>
</html>