body {
  font-family: Helvetica, Arial, sans-serif !important ;
}
html{ height:100%; }
body{ 
		min-height:100%; 
		padding:0; 
		margin:0; 
		position:relative;
		padding-bottom: 350px; 
	}
.main {
  margin-top: 57px;
}
/* nav bar*/

.logo {
  width: 200px;
  height: 40px;
}

.my-navbar {
  padding: 0px 20px !important;
}

.my-nav-link {
  border-bottom: 3px solid transparent;
  padding: 15px 10px !important;
  transition: all .3s;
}
.my-nav-link:hover, .my-active-nav-link {
  border-bottom-color: #4285f4!important;;
  color: #4285f4!important;;
}
.my-active-nav-link {
  font-weight: bold;
}
/* message validate form */
.message  {
  position: absolute;
  top: 40px;
  margin-left: 32px;

}
/* message validate form */
/* override toast*/ 
#toast-container > div {
  opacity: 1 !important;
}
/*
.toast-top-left {
  top: 60px;
  left: 12px;
}*/
/*end navbar*/

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 350px;
  background: none;
  background-color: #2f8d6e;
  background-image: none;
  padding: 50px 100px 10px 200px;
  color: white;
}


.footer-header {
  padding-bottom: 20px;
}
.footer-list {
  padding-inline-start: 0 !important;
}

.footer-list li {
  list-style-type: none;
  padding-bottom: 10px;
}
.nav-item .footer-link {
  color: white;
  text-decoration: none;
}

/* truncate text */
.crop-text-1 {
  -webkit-line-clamp: 1;
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.crop-text-2 {
  -webkit-line-clamp: 2;
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  height: 44px;
}