<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
    <link rel='stylesheet' href='/stylesheets/home/style.css' />
</head>
<body>

<header>
    <% include ../partials/header %>
</header>


<main class='main'>
    <!-- video introduction-->
    <div class='intro'>
      <div class='wrap-intro'>
        <div class='wrap-video'>
          <video id="tf-1713194371" preload="auto" class="tf-video" width="1" height="1" 
            src="https://healthyfarm.org/wp-content/uploads/2018/05/HealthyFarm-short-video-2.mp4" webkit-playsinline="1" loop="" autoplay="" muted="muted" 
            style="width: 1349px; height: 379.406px; top: -1.70313px; left: 0px;">
          </video>
        </div>
      </div>
      <div class="d-flex justify-content-center align-items-center flex-column">
        <h1 style='font-size: 54px; text-align: center'>Welcome to your online farmers market!</h1>
        <p style="font-size: 24px; text-align: center"><strong><em>Local&nbsp;· Fresh&nbsp;· Handmade</em></strong></p>        </div>
        <!-- /module text -->
        </div>
      </div>
    </div>
    <!--end video introduction-->

    <!--overview-->
    <div class="row m-5">
      <div class='col-sm-12 col-md-6 col-lg-3 d-flex justify-content-center p-3'>
        <div class="overview-img">
          <a href='#'><img src="https://healthyfarm.org/wp-content/uploads/2018/05/box-homepage-EVENTS-EN-01.png" alt=""/></a>
        </div>
      </div>
      <div class='col-sm-12 col-md-6 col-lg-3 d-flex justify-content-center p-3'>
          <div class="overview-img">
          <a href='#'><img src="https://healthyfarm.org/wp-content/uploads/2018/05/box-homepage-FARM-EN-01.png" alt=""/></a>
        </div>
      </div>
      <div class='col-sm-12 col-md-6 col-lg-3 d-flex justify-content-center p-3'>
          <div class="overview-img">
          <a href='#'><img src="https://healthyfarm.org/wp-content/uploads/2018/05/box-homepage-ORDER-EN-01.png" alt=""/></a>
        </div>
      </div>
      <div class='col-sm-12 col-md-6 col-lg-3 d-flex justify-content-center p-3'>
          <div class="overview-img">
          <a href='#'><img src="https://healthyfarm.org/wp-content/uploads/2018/05/box-homepage-SHOP-EN-01.png" alt=""/></a>
        </div>
      </div>
    </div>
    <!--end overview-->

    <!--continue intro-->
    <div class='intro'>
      <div class='wrap-intro'>
        <div class='wrap-img'>
          <img 
            src="https://healthyfarm.org/wp-content/uploads/2017/08/bw-farmer-vietnam-sustainable-clean-food.jpg" 
            alt="" />
        </div>
        </div>
        <div class="d-flex justify-content-center">
          <div class='' style="width: 80%; color: #4e5658;">
            <h2 class='pb-3'style="text-align: center; color: black; font-size: 36px">We are Healthyfarm</h2>
            <p  style="text-align: center;  font-size: 21px">We aim to dramatically improve the clean food supply chain in Vietnam through supporting small-scale farmers and providing them with training, added revenue streams and market access.</p>
            <p  style="text-align: center;  font-size: 21px">Everything on our platform is local, naturally-grown and handmade.</p>        
            <div  style='text-align: center'>
              <a href='#'><button class='btn btn-secondary py-2 px-4'>Read more</button></a>
            </div>
          </div>
        </div>
      </div>
    </div>    
    <!--end continue intro-->

    <!--products-->
    <div class='container-fluid mt-5'>
      <h1 style='color: #2f8d6e; text-align: center'>Our featured products</h1>
      <div class="row m-5">
        <div class='col-sm-12 col-md-6 col-lg-3 d-flex justify-content-center p-3'>
          <a href='#' style='text-decoration: none; color: black'>
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="https://healthyfarm.org/wp-content/uploads/2018/01/spinach-450x300.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-success">Add to cart</a>
              </div>
            </div>    
          </a>
        </div>
        <div class='col-sm-12 col-md-6 col-lg-3 d-flex justify-content-center p-3'>
          <a href='#' style='text-decoration: none; color: black'>
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="https://healthyfarm.org/wp-content/uploads/2018/04/ca-chua-beef-450x300.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-success">Add to cart</a>
              </div>
            </div>
          </a>
        </div>
        <div class='col-sm-12 col-md-6 col-lg-3 d-flex justify-content-center p-3'>
          <a href='#' style='text-decoration: none; color: black'>
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="https://healthyfarm.org/wp-content/uploads/2018/04/banana-1-450x300.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-success">Add to cart</a>
              </div>
            </div>      
          </a> 
        </div>
        <div class='col-sm-12 col-md-6 col-lg-3 d-flex justify-content-center p-3'>
          <a href='#' style='text-decoration: none; color: black'>
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="https://healthyfarm.org/wp-content/uploads/2018/04/dua-450x300.png" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-success">Add to cart</a>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <!--end products-->

    <!--blog-->
    <!--end blog-->
</main>

<footer>
    <% include ../partials/footer %>
</footer>
<% include ../partials/scripts %>

</body>
</html>